#main-menu .nav-bar { list-style:none; margin-top: 40px;
}
#main-menu .nav-bar li { display:inline; padding:0 10px;
}

#main-menu .nav-bar li a {
    text-decoration: none;
    padding-left: 25px;
    text-transform: uppercase;
    color: #333;
}

.nav-bar .nav-button-home a { background:url("") no-repeat 0 -2px ;
}

.nav-bar .nav-button-services a { background:url("") no-repeat 0 -2px transparent;
}

.nav-bar .nav-button-products a { background:url("") no-repeat 0 -2px transparent;

}
body{
    background: #b5e5e8;
    font-family: 'gravity';
}
@font-face {
    font-family:'gravity';
    src: url('Gravity-Light.otf');
}
a,a:visited{
    color: #3568AB;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    color: #548EDA;
    text-decoration: none;
    font-weight: bold;
}

.clearfix {
    overflow: auto;
    zoom: 1;
}
.feed-container{
    margin-left: 425px;
}
.feed-border{
    background:#fff;
    width:600px;
    box-shadow:0px 1px 0px 2px rgba(51, 51, 51, 0.1);
    border-radius: 1px;
    margin:15px 0px;
}
.feed-options{
    position:absolute;
    left:600px;
    color: #808080;
    cursor:pointer;
}
.feed-content,.feed-avatar{
    float:left;

}
.feed-avatar{
    margin: 10px 10px;
}
.feed-content{
    margin: 20px 5px;
    width:80%;
}
.feed-avatar img{
    border-radius:50%;
}
.feed-footer{
    border-top:solid 1px #E0E0E0;
    padding-top:10px;
    background:#f0f0f0;
}
.feed-footer .footer-left{
    float:left;
    margin:0px 15px 10px 15px;
    font-size:14px;
}
.feed-footer .footer-right{
    float:right;
    margin:0px 15px 10px 0px;
    font-size:14px;
}
.footer-time{
    color: #808080;
    cursor:pointer;
}
.feed-footer a{
    color:#808080;
}
.feed-footer a:hover{
    color:#333;
}
.divisor{
    border-left: solid 1px #B5B5B5;
    margin-right:5px;
    margin-left:1px;
}